{% from "partials/componentes.html" import start, image_subtitle_main, text, end %}
{{ start( "Le français pour tous les âges!", "Classe 01" ) }}

{{ image_subtitle_main("https://www.youtube.com/watch?v=P3QS83ubhHE&list=RDP3QS83ubhHE&start_radio=1", "static/imagens/stromae.jpg", "Connaissons un Artiste Francophone !", "001") }}

<p style="margin-top: 2rem;"></p>

{{ text("Stromae, nom de scène de Paul Van Haver, est un chanteur, rappeur, auteur-compositeur-interprète et producteur francophone.", "002") }}

{{ text("Paul Van Haver naît en Belgique d'un père rwandais et d'une mère belge, il commence sa carrière en 2000.", "003") }}







{{ end("Il est toujours temps d'apprendre !!!") }}